a:link {
    text-decoration: none;
    color: #1d8ba2;
}

a:visited {
    text-decoration: none;
    color: #888888;
}

a:hover {
    text-decoration: underline;
    color: #ff9900;
}

.content-outer {
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    -goog-ms-box-shadow: 0 0 0px #333333;
    box-shadow: 0 0 0px rgba(0, 0, 0, .15);
    max-width: 100vw;
}

.content-inner {
    padding: 0px 0px;
    background-color: #ffffff;
}

.bottom {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.regular-link {
    color: #219ab3;
    border: 0px;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}

.regular-link button {
    border: 0px !important;
    background-color: #fff !important;
    padding: 0px !important;
    margin: 0px !important;
}

.regular-link:hover,
.regular-link:focus,
.regular-link:active {
    color: #11505d !important;
    cursor: pointer;
}

.post img {
    max-width: 100% !important;
    height: auto !important;
}

/* Header */

.header-outer {
    background: #ffffff url('../img/gradients_light.png') repeat-x scroll 0 -400px;
    _background-image: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.Header {
    min-height: 320px;
}

/* Tabs */

#Image2 {
    float: left;
    display: inline-block;
    z-index: 10;
}

/* Widgets */

.widget {
    margin: 0;
    line-height: 1;
    border: 0;
}

.widget ul {
    line-height: 1;
}

.widget li {
    padding: 0;
}


/* Posts */

.main-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-inner .column-center-inner {
    padding: 0 0px;
}

.main-inner .column-center-inner .section {
    margin: 0 0px;
}

.post {
    margin: 0 0 25px 0;
}

.post-body {
    font-size: 110%;
    line-height: 1.4;
    position: relative;
}

.footer-inner {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font: normal normal 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}

.container {
    max-width: 1500px;
}

.navbar-collapse {
    margin: 0px;
}

.collapse.in {
    clear: both;
}

.navbar-default img {
    max-height: 40px;
    max-width: 400px;
    margin: 5px;
}

.navbar-default {
    display: inline-block;
}

.post-outer {
    min-height: 10px;
    padding-top: 80px;
    padding-bottom: 10px;
}

#about section {
  padding-bottom: 15px;
}

#about img, #contact img {
  padding-top: 120px;
}

body .navbar {
  height: inherit;
  min-height: 30px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
