.container {
    max-width: 1500px;
}

.content-outer {
    max-width: 100vw;
}

.navbar-collapse {
    margin: 0px;
}

.collapse.in {
    clear: both;
}

.navbar-default img {
    max-height: 40px;
    max-width: 400px;
    margin: 5px;
}

.navbar-default {
    display: inline-block;
}


#Image2 {
    z-index: 10;
}

.post-outer {
    min-height: 10px;
    padding-top: 80px;
    padding-bottom: 10px;
}
